.scald-menu .add-buttons .add-embed {
  background: url('icons/embedly-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-embed:hover {
  background: url('icons/embedly-color.png') 50% 50% no-repeat;
}
